<section id="form-categoria">
    <form method="post" action="/Categoria/Adiciona"> 
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="categoria.Nome" class="form-control" />
            <label for="descricao">Descrição</label>
            <input id="descricao" name="categoria.descricao" class="form-control" />
        </div>

        <input type="submit" value="Cadastrar" class="btn btn-success" />
    </form>
</section>

